asgiref==3.9.1
Django==5.2.5
django-cors-headers==4.7.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
PyJWT==2.10.1
sqlparse==0.5.3
tzdata==2025.2
python-dotenv==1.0.1
dj-database-url==2.2.0
psycopg2-binary==2.9.11
gunicorn==23.0.0
celery==5.5.3
redis==5.0.8
django-celery-beat==2.9.0
whitenoise==6.12.0
